html,body{
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	max-height: 100vh;
}
.menu{
	display: flex;
	width: 100%;
	height: 9%;
	background-color: #02a9f4;
	align-items: center;
	justify-content: space-between;	
}
.menu p{
	margin-left: 7%;
	font-size: 30px;
	color: white;
	font-weight: bold;
	font-style: italic;
}
.menu > ul{
	margin: 0;
	margin-right: 5%;
	padding: 0;	
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 70%;
}
.menu > ul > a > li{
	display: inline;
	font-size: 4vh;
	margin-right: 20px;
	color: white;
	font-weight: bold;
}
.container{
	display: flex;
	max-height: 70%;
	justify-content: center;
}
.child{
	max-width: 48%;
}
.child > img{
	  width: 25vw;
	  margin-top: 20%;
}
.texto{
	font-size: 12vh;
	padding-right: 30%;
	margin-bottom: -20px;
}
.sub-txt, .child span{
	color: #02a9f4;

	font-weight: bold;
}
.sub-txt{
	font-size: 4vh;	
}
.icones{
	display: flex;
}
.icones img{
	width: 4vw;
	margin-right: 10px;
}
h1{
	text-align: center;
	font-size: 3vw;
}
.texto2{
	margin-left: 20%;
	margin-top: 10%;
	font-size: 3.5vh;
	text-align: justify;
}
.skills{
	margin-left: 6%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 90%;
}
.skills p{
	border: 1px solid;
	border-radius: 40px;
	border-color: #02a9f4;
	background-color: #02a9f4;
	color: white;
	width: 150px;
	cursor: default;
	height: 40px;
	padding-top: 15px;
	text-align: center;
	margin-right: 10px;
	font-weight: bold;
	font-size: 20px;
}
#projetos{
	margin-left: 10%;
	display: flex;
	max-width: 90%;
	flex-wrap: wrap;
}
.projeto{
	border: 1px solid;
	border-color: #02a9f4;
	background-color: #02a9f4;
	margin-right: 20px;
	margin-bottom: 50px;
	padding-bottom: 2%;
}
.projeto, .no-project p{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 30px;
}
.projeto img{
	width: 25vw;
	height: 25vh;
}
.no-project{
	display: flex;
	border: 1px solid;
	cursor: default;
	border-color: #02a9f4;
	background-color: #02a9f4;
	margin-right: 20px;
	margin-bottom: 50px;
	width: 30%;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width:1000px){
	.options{
		display: none;
	}

	.container{
		width: 100vw;
		flex-direction: column-reverse;
		max-height: 100%;
		justify-content: center;
		margin-bottom: 100%;
	}
	.child{
		max-width: 100%;
	}
	.child > img{
		  width: 90vw;
		  margin-left: 5%;
		  margin-bottom: 10%;
	}
	.texto{
		width: 100%;
		font-size: 70px;
	}
	.sub-txt{
		font-size: 4vh;	
	}
	.icones{
		display: flex;
		margin-left: 5%;
		margin-bottom: -80%;
	}
	.icones img{
		width: 25vw;
		margin-right: 20px;
	}
	h1{
		font-size: 10vw;
	}
	.texto2{
		padding: 5%;
		margin-left: 0%;
		margin-top: 100%;
		font-size: 3vh;
		text-align: justify;
	}
	#projetos{
		max-width: 20%;
	}
	.projeto img{
		width: 70vw;
	}
	.no-project{
		padding: 5vh 30vw;
		width: 50%;
	}
	.no-project p{
		font-size: 10vw;
	}
	.skills{
		margin-bottom: 20%;
	}
}